main {
  display: grid;
  grid-template-columns: repeat(1fr, 12);
  grid-template-rows: repeat(1fr, 12);
  height: 100%;
  gap: 2rem;
}

nav {
  background-color: #f5b790;
  border-bottom: 1px solid black;
  grid-column: 1/12;
  grid-row: 1/3;
  text-align: right;
  height: auto;
}
nav ul {
  margin-top: 0.5vh;
}
nav ul li {
  display: inline;
  padding: 0.3em;
  cursor: pointer;
}

.managmentSection {
  background-color: #ffbf9f;
  grid-column: 2/11;
  grid-row: 3/12;
  height: 80vh;
  overflow-y: scroll;
}
.managmentSection div {
  border-bottom: 1px solid #444444;
  padding: 0.5em;
  text-align: center;
}
.managmentSection ul li {
  padding: 0.5em;
  height: auto;
  cursor: pointer;
  border-bottom: 1px solid #444444;
}
.managmentSection ul li button {
  padding: 0.5em;
  width: 49%;
  border: none;
  outline: none;
  border-radius: 0.4em;
  background-color: #444444;
  color: #ffffff;
  cursor: pointer;
}
.managmentSection ul li button:hover {
  background-color: #004475;
}
.managmentSection ul li:hover {
  background-color: #004475;
}
.managmentSection ul li:hover p, .managmentSection ul li:hover h3 {
  color: white;
}
.managmentSection ul .doNotHover:hover {
  background-color: #ffbf9f;
}

.transactionWrapper {
  position: absolute;
  background-color: rgba(209, 209, 209, 0.5);
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  display: none;
}
.transactionWrapper article {
  background-color: #ffcfb8;
  margin-top: 3%;
  width: 60%;
  height: 90%;
  margin-left: 20%;
}
.transactionWrapper article div {
  width: 100%;
  height: 5%;
}
.transactionWrapper article div h3 {
  display: inline;
}
.transactionWrapper article div button {
  float: right;
  height: 4vh;
  width: 4vw;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.transactionWrapper article div:nth-child(even) {
  width: 40%;
  margin-left: 30%;
  text-align: center;
  height: 80%;
}
.transactionWrapper article div:nth-child(even) .transactionTypeLabel {
  font-weight: bold;
  font-size: 1.5em;
}
.transactionWrapper article div:nth-child(even) #transactionType {
  color: #444444;
}
.transactionWrapper article div:nth-child(even) .amount {
  color: rgba(255, 0, 0, 0.68);
  font-size: 3em;
}
.transactionWrapper article div:nth-child(even) .transactionInfo {
  text-align: left;
  background-color: #f5b790;
  padding: 0.5em;
  border-radius: 0.5em;
}
.transactionWrapper article div:nth-child(even) .transactionInfo label {
  font-size: 0.8em;
  font-weight: 600;
}
.transactionWrapper article div:nth-child(even) .transactionInfo p {
  margin-left: 1vw;
  color: #444444;
}
.transactionWrapper article ul li {
  list-style-type: none;
  margin-top: 2vh;
}

.addTransaction {
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 40%;
  width: 40%;
  left: 30%;
  top: 20%;
}
.addTransaction ul {
  grid-column: 1/4;
  grid-row: 1/2;
  padding: 1em;
}
.addTransaction input {
  background-color: #444444;
  color: #ffffff;
  padding: 0.2em;
  width: 80%;
  outline: none;
  border: none;
  border-radius: 0.2em;
  padding: 0.3em;
}
.addTransaction div {
  grid-column: 1/4;
  grid-row: 3;
  border: none;
}
.addTransaction div button {
  display: inline;
  width: 49%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffcfb8;
}/*# sourceMappingURL=style.css.map */