$primary: #ffbf9f; // Light skin tone
$secondary: #f5b790; // Darker skin tone
$tertiary: #ffcfb8; // Lighter skin tone
$accent: #444444; // Dark gray
$light-text: #ffffff; // White
$dark-text: #000000; // Black
$warning: #FF7F13; // Orange
$success: #32BF00; // Green
$selection-color: #004475; // Light navy