@use './color' as cl;
@use './mixin' as *;

main{
    display: grid;
    grid-template-columns: repeat(1fr, 12);
    grid-template-rows: repeat(1fr, 12);
    height: 100%;
    gap: 2rem;
}
nav{
    background-color: cl.$secondary;
    border-bottom: 1px solid black;
    grid-column: 1 / 12;
    grid-row: 1/3;
    text-align: right;
    height: auto;
    ul{
        margin-top: .5vh;
        li{
            display: inline;
            padding: .3em;
            cursor: pointer;
        }
    }
}
.managmentSection{
    background-color: cl.$primary;
    grid-column: 2 / 11;
    grid-row: 3/12;
    height: 80vh;
    overflow-y: scroll;
    // color: cl.$light-text;
    div{
        border-bottom: 1px solid cl.$accent;
        padding: .5em;
        text-align: center;
        p{
        }
    }
    ul{
        li{
            @include respond-to(xs){
            };
            padding: .5em;
            height: auto;
            cursor: pointer;
            border-bottom: 1px solid cl.$accent;
            button{
                padding: .5em;
                width: 49%;
                border: none;
                outline: none;
                border-radius: .4em;
                background-color: cl.$accent;
                color: cl.$light-text;
                cursor: pointer;
            }
            button:hover{
                background-color: cl.$selection-color;
            }
        }
        li:hover{
            background-color: cl.$selection-color;
            p, h3{
                color: white;
            }
        }
        .doNotHover:hover{
            background-color: cl.$primary;
        }        
    }
}

.transactionView{
    position: absolute;
    background-color: cl.$secondary;
    left: 5%;
    top: 10%;
    padding: .5em;
    width: 90%;
    height: 40%;
    display: grid;
    gap: 0vh;
    grid-template-columns: repeat(1fr, 3);
    grid-template-rows: repeat(1fr, 3);
    div{
        grid-column: 1/4;
        grid-row: 1;
        height: auto;
        max-height: 30%;
    }
    ul{
        grid-column: 1/4;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        li{
            list-style-type: none;
            background-color: cl.$accent;
            p{
                background-color: white;
                width: 6vw;
            }
        }
    }
}

.addTransaction{
    display: none;
    // display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 40%;
    width: 40%;
    left: 30%;
    top: 20%;
    ul{
        grid-column: 1/4;
        grid-row: 1/2;
        // background-color: red;
        padding: 1em;
    }
    input{
        background-color: cl.$accent;
        color: cl.$light-text;
        padding: .2em;
        width: 80%;
        outline: none;
        border: none;
        border-radius: .2em;
        padding: .3em;
    }
    div{
        grid-column: 1/4;
        grid-row: 3;
        border: none;
        button{
            display: inline;
            width: 49%;
        }
    }
}